@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC</h1>
    <p class="lead">Prueba Henry Tenorio</p>
    <p><a href="~/ReporteMedicinas/Index" class="btn btn-primary btn-lg">Reporte Medicinas &raquo;</a></p>
    <p><a href="~/Bitacora/Index" class="btn btn-primary btn-lg">Bitacora &raquo;</a></p>
</div>

